---
layout: default
title: Blog
pagination:
  data: collections.posts
  size: 50
  alias: posts
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---
<h1>Posts</h1>
<ul class="post-index">
{%- for post in posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %Y" }}</span>
    <span class="post-title">
      <a
        {% if post.data.description %}title="{{ post.data.description }}"{% endif %}
        href="{{ post.url | prepend: site.baseurl }}">
        {{ post.data.title }}
      </a>
    </span>
    <ul class="post-tags">
      {% for tag in post.data.tags %}
        <li><a href="/blog/tags/{{ tag | slug }}/">#{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </li>
{% endfor -%}
</ul>

<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">&larr;</a>
  {% else %}
    <span class="previous">&nbsp;</span>
  {% endif %}
  <span class="page_number">page <span class="current">{{ pagination.pageNumber  | plus: 1 }}</span> of {{ pagination.hrefs | size }}</span>
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">&rarr;</a>
  {% else %}
    <span class="next ">&nbsp;</span>
  {% endif %}
</div>

<footer>
  <span><a href="{{ "/atom.xml" | prepend: site.baseurl }}">RSS feed</a></span>
</footer>
