---
layout: default
page_title: Blog
---
{% for page in paginator.posts %}
  {% include post.html %}
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <p class="next"><a href="/page{{ paginator.next_page }}">Older</a></p>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <p class="previous"><a href="/">Newer</a></p>
    {% else %}
      <p class="previous"><a href="/page{{ paginator.previous_page }}">Newer</a></p>
    {% endif %}
  {% endif %}
</div>

<script>
  var disqus_shortname = "alexpearce";

  (function () {
    var s = document.createElement("script");
    s.async = true;
    s.src = "http://" + disqus_shortname + ".disqus.com/count.js";
    
    document.getElementsByTagName("head")[0].appendChild(s);
  }());
</script>