---
layout: default
page_title: Blog
---
<div id="results">
  <ul class="results">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
      <ul class="tags cf">
        {% for tag in post.tags %}
        <li><a href="/search.html?tags={{ tag }}">{{ tag | downcase }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% for post in site.posts %}
{% endfor %}
<script>
  var disqus_shortname = "alexpearce";

  (function () {
    var s = document.createElement("script");
    s.async = true;
    s.src = "http://" + disqus_shortname + ".disqus.com/count.js";
    
    document.getElementsByTagName("head")[0].appendChild(s);
  }());
</script>
