---
layout: default
title: Tags
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/blog/tags/{{ tag | slug }}/"
---
<h1>#{{ tag | slug }} posts</h1>

<ul class="post-index">
{%- for post in collections[tag] reversed %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %Y" }}</span>
    <span class="post-title">
      <a
        {% if post.data.description %}title="{{ post.data.description }}"{% endif %}
        href="{{ post.url | prepend: site.baseurl }}">
        {{ post.data.title }}
      </a>
    </span>
    <span class="post-tags">
      {% for tag in post.data.tags %}
        <a href="/blog/tags/{{ tag | slug }}/">#{{ tag }}</a>
      {% endfor %}
    </span>
  </li>
{% endfor -%}
</ul>

<footer>
  <span><a href="/blog">all posts</a></span>
</footer>
