<div id="disqus_thread">
  <a href="//disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>.
</div>

<script>
  var disqus_shortname = window.location.host === "alexpearce.me" ? "alexpearce" : "alexpearce-devel",
      disqus_title = "{{ page.title }}",
      disqus_identifier = "{{ page.url }}",
      disqus_developer = 0;

  (function(d) {
    var embed = d.createElement("script"),
        count = d.createElement("script");
    embed.async = count.async = true;
    embed.src = "//" + disqus_shortname + ".disqus.com/embed.js";
    count.src = "//" + disqus_shortname + ".disqus.com/count.js";

    // If comments aren't disabled for the article, load the embed and count script
    if ("{{ page.comments }}" !== "false") {
      d.getElementsByTagName("head")[0].appendChild(embed);
      d.getElementsByTagName("head")[0].appendChild(count);
    } else {
      d.getElementById("disqus_thread").innerHTML = "";
    }
  })(document);
</script>
