<script>
  "use strict";

  /** Load maps into containers which specify a GPX source.
   *
   * If a div has the `route-map` class and specifies a URL to a GPX file in
   * its `data-route` attribute, this method will instantiate a Leaflet map
   * widget inside that div using the data from the GPX file.
   */
  let loadMaps = () => {
    const containers = document.getElementsByClassName("route-map");
    Array.prototype.forEach.call(containers, (el) => {
      // Check that the element defines the required data
      const route_url = el.dataset["route"];
      if (route_url === undefined) {
        console.error("Route map element does not define data-route property", el);
      }

      // Set up the map
      const map = L.map(el);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
      }).addTo(map);
      L.control.scale().addTo(map);

      // Fetch the GPX file and add it to the map
      omnivore
        .gpx(route_url)
        .on("ready", (event) => map.fitBounds(event.target.getBounds()))
        .addTo(map);
    });
  }

  /** Cycle through each `--highlight-color-n` on each page load.
   *
   * Total number of colors defined by `--highlight-color-count` variable.
   *
   * Why change the page color every refresh? Who knows! 🌈
   */
  window.addEventListener("DOMContentLoaded", (event) => {
    // Local storage key to hold the next value of `n` to set.
    const ls_key = "current_color";

    const root = document.documentElement;
    const ncolors = parseInt(window.getComputedStyle(root).getPropertyValue("--highlight-color-count"));
    // Get the value to set, or set the first value if this is the first visit.
    const current_color = parseInt(window.localStorage.getItem(ls_key)) || 0;
    // Set the color (+ 1 as the CSS variables are 1-indexed).
    root.style.setProperty("--highlight-color", `var(--highlight-color-${current_color + 1})`);
    window.localStorage.setItem(ls_key, (current_color + 1) % ncolors);

    loadMaps();
  });
</script>
