<header>
  <h1><a href="/">Alex Pearce</a></h1>
  <h2>A Blog</h2>
  <div class="deets">
    <p>Researcher on LHCb @ <a href="http://cern.ch">CERN</a>.</p>
    <p>Freelance developer @ <a href="http://quantumbits.co.uk">quantum bits</a>.</p>
    <p>Physics undergraduate @ <a href="http://soton.ac.uk">University of Southampton</a>.</p>
    <p><a href="mailto:alex@alexpearce.me">Contact me</a> or find me on <a class="gplus" href="https://plus.google.com/103081256495328491271?rel=author">Google+</a>.</p>
    <p class="quiet">The source for this site is available on <a href="http://github.com/alexpearce/alexpearce.github.com">GitHub</a></p>
  </div>
</header>
