<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if description %}{{ description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ "/assets/img/favicon-120x120.png" | prepend: site.baseurl }}" sizes="120x120">
  <link rel="apple-touch-icon" href="{{ "/assets/img/favicon-152x152.png" | prepend: site.baseurl }}" sizes="152x152">

  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Neuton:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" type="text/css" media="screen">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script async defer data-domain="alexpearce.me" src="https://plausible.io/js/plausible.js"></script>
</head>
