<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if description %}{{ description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {%- comment %}This OpenGraph attribute is used for titling GitHub issue comment threads.{% endcomment %}
  <meta property="og:title" content="{{ title | escape }}">
  <meta property="og:description" content="{{ description | strip_html | strip_newlines | truncate: 160 }}">

  <link rel="icon" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ "/assets/img/favicon-120x120.png" | prepend: site.baseurl }}" sizes="120x120">
  <link rel="apple-touch-icon" href="{{ "/assets/img/favicon-152x152.png" | prepend: site.baseurl }}" sizes="152x152">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" type="text/css" media="screen">
  {% if maps %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script async defer data-domain="alexpearce.me" src="https://plausible.io/js/plausible.js"></script>
</head>
