<article class="post">
  <hgroup class="cf">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <h2>{{ page.date | date: "%A %d, %B %Y" }} in <b><a href="/search.html?category={{ page.category | downcase }}">{{ page.category }}</a></b></h2>
    <h3 class="comment-count"><a href="{{ page.url }}/#disqus_thread"></a></h3>
  </hgroup>

  <div class="body">
    {% if content %}
    {{ content }}
    {% else %}
    {{ page.content }}
    {% endif %}
  </div>

  <ul class="tags cf">
    {% for tag in page.tags %}
    <li><a href="/search.html?tags={{ tag }}">{{ tag | downcase }}</a></li>
    {% endfor %}
  </ul>
</article>
