<article>
  <header>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <h2>{{ page.date | date: "%A %d, %B %Y" }} in <a href="/search.html?category={{ page.category | downcase }}">{{ page.category }}</a></h2>
    {% if page.comments != false %}
    <h3 class="comment-count"><a href="#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></h3>
    {% endif %}
    {% if page.tags != empty %}
    <ul class="tags">{% for tag in page.tags %}<li>
        <a href="/search.html?tags={{ tag }}">{{ tag }}</a>
    </li>{% endfor %}
    </ul>
    {% endif %}
  </header>

  {% if content %}
  {{ content }}
  {% else %}
  {{ page.content }}
  {% endif %}
</article>
