/* Stylesheet for alexpearce.me

The idea is to be mobile-first, using media queries when things need to change
for larger (desktop) browsers.
There there are two breakpoints: the first at $content_width, when the viewport
is at least as wide as the main content, and the second at $body_width, when
the viewport is at least as wide as the widest possible element in the body.

*/

$font-stack: Neuton, Baskerville, Georgia, serif;
$mono-stack: 'Source Code Pro', Consolas, Menlo, Courier, monospace;

$background_color: #fffffc;
// Body text
$copy_color: #496187;
// Links, highlight borders, etc.
$highlight_color: #68a58e;
// Headers, including anchor headers
$header_color: #555;

// Maximum width of any element inside <body>
$body_width: 720px;
// Maximum width of any element inside <main>
$content_width: 560px;

/* @begin Structure and layout */

* {
  // <3 border-box, meaning that padding and margin count towards the `width`
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  // A big font for improved readability
  font-size: 1.2em;
  border-top: 2px solid $highlight_color;
}

// Use a bigger font on bigger screens
@media only screen and (min-width: $content_width) {
  html {
    font-size: 1.375em;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0 1em;
  font-family: $font-stack;
  background: $background_color;
  color: $copy_color;
}

@media only screen and (min-width: $body_width) {
  body {
    width: $body_width;
    margin: 0 auto;
    padding: 0;
  }
}

main {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: $content_width) {
  main {
    width: $content_width;
  }
}

.masthead {
  /* Match the h1.title margin */
  margin: 0 0 0.67em 0;
  padding: 0 0 0.67em 0;
  border-bottom: 1px solid #eee;
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style-type: none;
  }

  nav ul li {
    margin: 0 2em;
  }
}

footer {
  display: flex;
  // Display the elements in reverse order to their DOM order
  // This allows nice things like the "top" link to appear on the right, even
  // when it's the only element in the footer
  flex-flow: row-reverse;
  // Space the elements evenly
  justify-content: space-between;
  margin: 1em 0 0 0;
  padding: 0.67em 0 1em 0;
  border-top: 1px solid #eee;
  font-size: 0.8em;
}

/* @end Structure and layout */

/* @begin Typography */

h1, h2, h3 {
  // Non-bold headers
  font-weight: 400;
  color: $header_color;
  a {
    color: $header_color;
  }
}

.masthead {
  h1 {
    text-align: center;
  }
}

a {
  color: $highlight_color;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #e9e9e9;
}

/* @end Typography */

img {
  // Images expand to fit their container
  width: 100%;
}

/* @begin Post listing and posts */

.post-excerpt, header {
  margin: 1.1em 0;
  color: #888;

  h1, h2, h3 {
    color: #888;
  }

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  h2 {
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
  }

  h3 {
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
  }
}

.tags {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: lowercase;

  li {
    padding: 0 4px;
    font-size: 0.9em;

    &:first-child {
      padding-left: 0;
    }

    &:after {
      content: ",";
    }

    &:last-child:after {
      content: "";
    }
  }
}

.pagination {
  margin: 1em 0;
  text-align: center;
  color: #888;
  .previous, .next {
    margin: 0 0.5em;
    padding: 0 0.5em;
  }
}

/* @end Post listing and posts */

/* @begin Post/page style */

pre, code {
  font-family: $mono-stack;
  font-size: 0.8em;
}

pre {
  padding: 0.7em 1em 0.8em 1em;
  border: 1px solid #eee;
  border-radius: 2px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f4f4f6;
  overflow: auto;
}

.highlight {
  margin: 0;
  border-radius: 2px;
}

blockquote {
  margin: 0;
  padding: 0.7em 1em 0.8em 1em;
  padding: 0 1em;
  border-left: 2px solid #eee;
  font-style: italic;
}

/* @end Post/page style */
