/** Stylesheet for alexpearce.me
 *
 * The idea is to be mobile-first, using media queries when things need to
 * change for larger (desktop) browsers.
 * There is one breakpoint at --content-width, when the viewport is at least as
 * wide as the main content.
 *
 * Inspired by:
 *
 * - https://www.conventionalcommits.org/
 * - https://nowodzinski.pl/syncope/
 *
 */

:root {
  /* Maximum width of any element inside <main> */
  --content-width: 740px;

  /* System font stack
   * https://css-tricks.com/snippets/css/system-font-stack/
   * https://www.digitalocean.com/community/tutorials/css-system-font-stack
   */
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-stack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --background-color: #ffffff;
  /* Body text */
  --copy-color: #24292e;
  /* Links, highlight borders, etc (text-violet-600). */
  --highlight-color: #7c3aed;
  /* Headers, including anchor headers */
  --header-color: var(--copy-color);
  /* Code background color */
  --code-background: #2e3440;
}

/* Colours when OS dark mode is enabled. */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #38444c;
    --copy-color: #f0f4f8;
    /* text-violet-300 */
    --highlight-color: #c4b5fd;
    --code-background: #2f3940;
  }
}

/* @begin Structure and layout */

* {
  /* <3 border-box, meaning that padding and margin count towards the `width` */
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-stack);
  line-height: 1.63em;
  background: var(--background-color);
  color: var(--copy-color);
}

.sr-only {
  display: none;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 24px;
}

.masthead h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  border-bottom: 2px solid var(--highlight-color);
}

.masthead h1 a:hover {
  text-decoration: none;
}

.masthead nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.masthead nav ul li {
  margin: 0 2em 0 0;
}

.masthead nav ul li:last-child {
  margin-right: 0;
}

main {
  margin: 0 20px 20px 20px;
  padding: 0 24px 24px 24px;
}

@media only screen and (min-width: 740px) {
  .masthead {
    width: var(--content-width);
    padding: 24px 48px;
  }

  main {
    width: var(--content-width);
    padding: 0 48px 24px 48px;
  }
}

hr, footer {
  border: 0;
  border-top: 1px solid #ddd;
}

section.footnotes {
  border-top: 1px dashed #ddd;
}

/* Hack to replace emoji backref with symbol. */
section.footnotes a.data-footnote-backref {
  visibility: hidden
}

section.footnotes a.data-footnote-backref:before {
  content: '↩︎';
  visibility: visible;
}

/* Hack to modify our footnote superscripts to be wrapped in brackets. */
sup a[href^="#user-content-fn-"]:before {
  content: "[";
}

sup a[href^="#user-content-fn-"]:after {
  content: "]";
}

footer {
  display: flex;
  /* Display the elements in reverse order to their DOM order
   * This allows nice things like the "top" link to appear on the right, even
   * when it's the only element in the footer
   */
  flex-flow: row-reverse;
  /* Space the elements evenly */
  justify-content: space-between;
  margin: 1em 0 0 0;
  padding: 1em 0;
}

@media (prefers-color-scheme: dark) {
  hr, footer {
    border-top-color: #495862;
  }
}

/* @end Structure and layout */

/* @begin Typography */

/**
 * Vertical rhythm by Syncope
 * http://nowodzinski.pl/syncope
 */

h1 {
	font-size: 1.75em;
	line-height: 1.86em;
	padding-top: 1.50em;
	margin-bottom: 0.357em;
}

h2 {
	font-size: 1.44em;
	line-height: 1.13em;
	padding-top: 1.35em;
	margin-bottom: 0.913em;
}

h3 {
	font-size: 1.19em;
	line-height: 1.37em;
	padding-top: 1.74em;
	margin-bottom: 1.00em;
}

h4 {
	font-size: 1.00em;
	line-height: 1.63em;
	padding-top: 0.500em;
	margin-bottom: 1.13em;
}

p {
	font-size: 1.00em;
	line-height: 1.63em;
	padding-top: 0.500em;
	margin-bottom: 1.13em;
}

h1, h2, h3 {
  color: var(--header-color);
}

h1 a, h2 a, h3 a {
  color: var(--header-color);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  /* List item text is roughly flush with surrounding text */
  padding-left: 1.25em;
}

/* @end Typography */
main > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

img, video {
  /* Media expands to fit its container */
  width: 100%;
}

/* @begin Post listing and posts */

.post-index li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-index .post-date {
  display: inline-block;
  width: 5em;
  margin: 0 1em 0 0;
  font-weight: bold;
  text-align: right;
}

.post-index .post-tags {
  display: flex;
  margin: 0 0 0 6em;
}

.post-tags a {
  color: #999;
}

.post-tags a:hover {
  color: var(--highlight-color);
}

.post-excerpt span, header span {
  display: block;
}

.post-excerpt .description {
  font-style: italic;
}

.post-excerpt h1, header h1 {
  /* These headers already have padding from elements above them,
   * don't duplicate it
   */
  padding: 0;
}

.post-tags {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: lowercase;
}

.post-tags li {
  padding: 0 4px;
}

.post-tags li:first-child {
  padding-left: 0;
}

header {
  padding: 0 0 1.5em 0;
  border-bottom: 1px solid #ddd;
}

/* Header reference links generated by rehype-autolink-headings */
h1:hover a[href^="#"]:before,
h2:hover a[href^="#"]:before,
h3:hover a[href^="#"]:before,
h4:hover a[href^="#"]:before {
  content: "🔗";
  display: inline;
  margin: 0 0 0 0.25em;
}

.pagination {
  margin: 1em 0;
  text-align: center;
  color: #888;
}

.pagination .previous, .pagination .next {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

/* @end Post listing and posts */

/* @begin Post/page style */

pre, code {
  font-family: var(--mono-stack);
  font-size: 0.9em;
}

pre {
  padding: 0.7em 1em 0.8em 1em;
  overflow: auto;
  background: var(--code-background);
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.5;
}

pre code {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0.7em 1em 0.8em 1em;
  padding: 0 1em;
  border-left: 2px solid #eee;
  font-style: italic;
}

.alert {
  margin: 1em 0;
  padding: 0.8em 1em;
  border-radius: 4px;
  background: var(--highlight-color);
  text-align: center;
  color: #fff;
}

.alert a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.route-map {
  height: 380px;
  max-width: 100%;
}

/* @end Post/page style */

/* @begin Comment thread style */

.utterances {
  margin-top: -30px;
}

/* @end Comment thread style */
