/* Variables. */
:root {
  color-scheme: light dark;
  --font-size: 1rem;
  --line-height: 1.666rem;
  --type-scale-factor: 1.15;
  --core-width: 42rem;
  --background-colour: light-dark(oklch(98.5% 0 0), #030712);
  --base-colour: light-dark(oklch(20.5% 0 0), oklch(85% 0 0));
  --highlight-colour: light-dark(#7c3aed, #c4b4ff);
  --body-padding: 1rlh;
}

/* Reset. */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page. */
html {
  font-size: 112.25%;
  background-color: var(--background-colour);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size);
  font-weight: 480;
  line-height: var(--line-height);
  margin: 0 auto;
  padding: var(--body-padding);
  color: var(--base-colour);
}

/* Typography. */
h1 {
  font-size: calc(var(--font-size) * var(--type-scale-factor) * var(--type-scale-factor) * var(--type-scale-factor));
  line-height: calc(1.5 * var(--line-height));
}

h2 {
  font-size: calc( var(--font-size) * var(--type-scale-factor) * var(--type-scale-factor));
  line-height: calc(2 * var(--line-height));
}

h3 {
  font-size: calc( var(--font-size) * var(--type-scale-factor));
  line-height: calc(2 * var(--line-height));
}

h4, h5, h6 {
  font-size: var(--font-size);
  line-height: calc(2 * var(--line-height));
}

h1:hover a[href^="#"]:before,
h2:hover a[href^="#"]:before,
h3:hover a[href^="#"]:before,
h4:hover a[href^="#"]:before,
h5:hover a[href^="#"]:before,
h6:hover a[href^="#"]:before {
  content: "#";
  display: inline;
  margin: 0 0 0 0.5ch;
}

a {
  color: var(--highlight-colour);
}

a:hover {
  filter: brightness(120%);
}

/* Vertical rhythm. */
.contents {
  display: grid;
  grid-template-columns:
    1fr
    min(var(--core-width), 100%)
    1fr;
}

.contents > * {
  grid-column: 2;
}

.contents > img {
  margin-left: auto;
  margin-right: auto;
  grid-column: 1 / -1;
}

.contents > :where(:not(:last-child)) {
  margin-block-end: var(--line-height);
}

ul, ol {
  margin-left: var(--line-height);
}

li:where(:not(:last-child)) {
  margin-bottom: calc(0.5 * var(--line-height));
}

img {
  display: block;
  max-width: 100%;
}

pre {
  padding: calc(0.5 * var(--line-height));
  border-radius: 5px;
}

pre, code {
  font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
  font-size: 0.95em;
}

/* Site header. */
.masthead {
  max-width: var(--core-width);
  margin: 0 auto;
}

.masthead > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 var(--line-height) 0;
  padding: 0 0 var(--body-padding) 0;
  border-bottom: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.15));
}

.masthead .title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.masthead .profile-image {
  height: 1.5lh;
  width: 1.5lh;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
}

.masthead .profile-image img {
  width: 100%;
  height: 100%;
}

.masthead h1 a {
  font-size: calc(1.1 * var(--font-size));
  color: var(--base-colour);
  text-decoration: none;
}

.masthead nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.masthead nav ul li {
  margin: 0 2em 0 0;
}

.masthead nav ul li:last-child {
  margin-right: 0;
}

/* Post index. */
ul.post-index {
  margin-left: 0;
}

ul.post-index li {
  display: flex;
  list-style: none;
}

ul.post-index li .post-date {
  display: inline-block;
  width: 120px;
  font-weight: 600;
}

/* Post metadata. */
.post-publication {
  font-style: italic;
  color: oklch(60% 0 0);
}

/* Callout. */
.callout {
  padding: var(--line-height);
  background: light-dark(oklch(97% 0 0), #1c2029);
  border-inline-start: calc(var(--line-height) / 4) solid light-dark(oklch(81% 0.117 11.638), oklch(45.5% 0.188 13.697));
}

/* Leaflet maps. */
.route-map {
  height: calc(15 * var(--line-height));
  grid-column: 1 / -1;
}

/* Comments. */
.utterances {
  border-top: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.15));
}
