---
---
/* @group Normalize */

{% include normalize.css %}

/* @end Normalize */

/* @group Pygments - Solarized (dark) Theme */

{% include solarized-dark.css %}

/* @end Pygments */


html, body {
  /* To stretch the background down the whole viewport */
  height: 100%;
}

body {
  background-color: #fff;
  /* Now *that's* a subtle gradient */
  background-image: -webkit-linear-gradient(#fff, #fcfcfc);
  background-image: -moz-linear-gradient(#fff, #fcfcfc);
  background-image: linear-gradient(#fff, #fcfcfc);
  font-family: "Palatino Linotype", Palatino, Palladio, "Book Antiqua", Georgia, serif;
}

/* Typography */
body {
  color: #333;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

hgroup h2 {
  font-size: 1.1em;
}

/* shh */
p.quiet {
  color: #aaa;
}

p.quiet a {
  color: rgba(0, 119, 204, 0.7);
  -webkit-transition: color 0.3s;
}

p.quiet a:hover {
  color: rgba(0, 119, 204, 1);
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  color: #a0d137;
}

/* End Typography */

/* Columns */

.columns, .blog {
  overflow: hidden;
  _overflow: hidden;
  zoom: 1;
}

.columns header {
  float: left;
}

/* End Columns */

/* Header */

header {
  width: 200px;
  margin: 100px 0 0 100px;
}

header h1 {
  font-family: Pacifico;
}

header h1 a {
  display: block;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

header h2 {
  font-size: 1.2em;
}

/* End Header */

/* @group Blog */

.blog {
  width: 720px;
  margin: 50px 0 0 0;
  padding: 0 0 0 40px;
}

/* @group Posts */

article {
  margin: 0 0 30px 0;
}

article hgroup {
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eee;
}

article hgroup h1 a {
  color: #333;
}

article hgroup h1 a:hover {
  color: #0077cc;
}

hgroup h2 {
  color: #999;
}

hgroup h2 a {
  color: #999;
}

.tags {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
}

.tags li {
  float: left;
  margin: 0 7px;
}

.tags li a {
  padding: 1px 12px 2px 12px;
  background: #eaeff0;
  color: #5e6d74;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.tags li a:hover {
  /* shrink the padding to compensate for the border */
  padding: 0 11px 1px 11px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tags li a:active {
  position: relative;
  top: 1px;
}

/* @end Posts */

/* @group Pagination */

.pagination .previous {
  float: right;
  text-align: right;
}

.pagination .next {
  float: left;
}

/* @end Pagination */

/* @group Search Results Pages */
/* categories etc. */

.results {
  padding-left: 20px;
  list-style-type: none;
}

.results > li {
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
}

.results .date {
  font-size: 0.8em;
  color: #ccc;
}

.results ul.tags {
  margin: 5px 0 0 0;
  font-size: 0.6em;
}

/* @end Search Results Pages */

/* @end Blog */

/* @group Code */

.highlight {
  margin-bottom: 1em;
  border: 1px solid #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.highlight pre {
  padding: 8px;
}

.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* @end Code */

/* @group Tables */

table {
  width: 100%;
  margin-bottom: 18px;
  border-collapse: collapse;
  border-spacing: 0;
}

table th, table td {
  padding: 8px;
  border-top: 1px solid #dddddd;
  line-height: 18px;
  vertical-align: top;
  text-align: left;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* @end Tables */

/* inline code */
p code, ul code, ol code {
  padding: 2px 4px;
  border: 1px solid #e1e1e8;
  background: #f7f7f9;
  color: #2aa198;
  font-size: 0.8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

@media screen and (max-width: 1060px) {
  header {
    margin: 20px 0 0 20px;
  }
  
  .blog {
    margin: 20px 0 0 0;
  }
}

/* @group Media Queries */
/* For phones and stuff */

@media screen and (max-width: 980px) {
  header {
    width: 20%;
  }
  
  .blog {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .columns {
    overflow: none;
  }
  
  header {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  header .deets {
    display: none;
  }
  
  .blog {
    width: 100%;
    padding: 0;
  }
  
  article {
    padding: 0 10px;
    font-size: 0.9em;
  }
  
  article h1 {
    font-size: 1.4em;
  }
  
  article h2 {
    font-size: 1.1em;
  }
  
  article h2 {
    font-size: 1.1em;
  }
}

/* @end Media Queries */