---
---

/* @group Normalize */

{% include normalize.css %}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* @end Normalize */

/* @group Typography */

/* @group Font faces */

/* Make the body fill the entire window. */
body {
  font-family: "Droid Serif", "Palatino", "Georgia", serif;
}

h1, h2, h3, header, .sidebar {
  font-family: "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

pre, code, kbd, samp {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

/* @end Font faces */

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

header h1, header h2, header h3 {
  margin: 0;
}

.sidebar p {
  font-size: 0.8em;
}

/* Vertical rhythm of 1.5em */
p {
  margin: 1.5em 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(25, 145, 248);
}

a:hover {
  color: rgb(160, 209, 55);
}

pre {
  padding: 1em;
}

/* Allow horizontal scrolling on wide snippets */
pre, code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* Inline code */
code {
  padding: 0.2em 0.4em 0.1em 0.4em;
  font-size: 0.9em;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 0.3em;
}

.highlight {
  position: relative;
  border-radius: 0.2em;
}

.highlight:before {
  content: "\f121";
  position: absolute;
  top: 50%;
  left: -1.7em;
  margin-top: -0.45em;
}

.highlight code {
  padding: 0;
  font-size: 1.0em;
  background-color: transparent;
  white-space: pre;
  border-radius: 0;
}

blockquote {
  position: relative;
  margin: 0;
  font-style: italic;
}

blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: close-quote;
}

.tags:before, .comment-count:before, .highlight:before {
  font-family: "FontAwesome";
  font-size: 0.9em;
  font-weight: normal;
  color: #ddd;
  transition: color 0.2s;
}

.tags:hover:before, .comment-count:hover:before, .highlight:hover:before {
  color: #aaa;
}

/* List items are flush with the left text alignment */
ul, ol, dl {
  padding-left: 0;
}

li {
  margin-bottom: 0.75em;
}

/* @end Typography */

/* @group Sidebar */

.sidebar {
  padding: 1em;
  /* padding: 2em 1em 0 1em; */
  border-bottom: 1px solid #eee;
}

.sidebar p {
  display: none;
}

/* @end Sidebar */

/* @group Main content */

main {
  padding: 1em 2em;
  text-align: left;
  color: #333;
}

/* First header should be flush with padding */
main h1:first-child {
  margin-top: 0;
}

article h2 {
  margin: 1.0em 0;
  font-size: 1.5em;
}

header h2 {
  margin: 0;
  font-size: 1.0em;
  color: #aaa;
}

header h3 {
  font-size: 1.0em;
}

.alert a {
  display: block;
  padding: 0.5em 0;
  margin-top: 1em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1783c;
  border-radius: 3px;
  box-shadow: 0 2px 0 #c26246;
  transition: background-color 0.2s;
}

.alert a:hover {
  background-color: #f1883c;
}

.alert a:active {
  /* Remove the box shadow and shift to takes it's place. */
  box-shadow: none;
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  transform: translate(0, 2px);
}

.comment-count:before {
  content: "\f086";
}

.comment-count:before, .tags:before {
  padding-right: 0.4em;
}

/* Centered images change size to fit the parent */
article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Search and index listings */
ul.results {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.results > li {
  margin: 2.0em 0;
}

ul.results > li:first-child {
  margin-top: 0;
}

/* Tags listing */
.tags {
  margin-top: 0;
  margin-bottom: 0;
}

.tags:before {
  content: "\f02c";
}

.tags li {
  display: inline-block;
  margin-bottom: 0;
  color: #aaa;
}

/* Add a comma+space after each list item, except the last */
.tags li:after {
  content: ",\00a0";
}

.tags li:last-child:after {
  content: "";
}

/* @group Disqus */

#disqus_thread {
  padding: 1em 0 0 0;
  border-top: 1px solid #eee;
}

/* @end */

/* @end Main content */

@media only screen and (min-width: 768px) {
  body {
    width: 768px;
    margin: 0 auto;
    padding: 50px 0;
  }

  .sidebar {
    width: 187px;
    float: left;
    padding: 2em 2em 1em 1em;
    border-bottom: none;
    border-right: 1px solid #eee;
  }

  .sidebar p {
    display: block;
  }

  main {
    width: 580px;
    float: right;
    padding: 0 1em 0 2em;
  }
}

/* @group Syntax highlighting */

{% include base16.ocean.dark.css %}

/* @end Syntax highlighting */
