/* Stylesheet for alexpearce.me

The idea is to be mobile-first, using media queries when things need to change
for larger (desktop) browsers.
There there are two breakpoints: the first at $content-width, when the viewport
is at least as wide as the main content, and the second at $body-width, when
the viewport is at least as wide as the widest possible element in the body.

*/

:root {
  --font-stack: Neuton, Baskerville, Georgia, serif;
  --mono-stack: 'Source Code Pro', Consolas, Menlo, Courier, monospace;

  --background-color: #fffffc;
  /* Body text */
  --copy-color: #496187;
  /* Links, highlight borders, etc. */
  --highlight-color: #68a58e;
  /* Headers, including anchor headers */
  --header-color: #555;

  /* Maximum width of any element inside <body> */
  --body-width: 720px;
  /* Maximum width of any element inside <main> */
  --content-width: 560px;
}

/* @begin Structure and layout */

* {
  /* <3 border-box, meaning that padding and margin count towards the `width` */
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  /* A big font for improved readability */
  font-size: 1.2em;
  border-top: 2px solid var(--highlight-color);
}

/* Use a bigger font on bigger screens */
@media only screen and (min-width: 560px) {
  html {
    font-size: 1.375em;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0 1em;
  font-family: var(--font-stack);
  background: var(--background-color);
  color: var(--copy-color);
}

@media only screen and (min-width: 720px) {
  body {
    width: var(--body-width);
    margin: 0 auto;
    padding: 0;
  }
}

main {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 560px) {
  main {
    width: var(--content-width);
  }
}

.masthead {
  /* Match the h1.title margin */
  margin: 0 0 0.67em 0;
  padding: 0 0 0.67em 0;
  border-bottom: 1px solid #eee;
}

.masthead nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.masthead nav ul li {
  margin: 0 2em;
}

hr.footnotes-sep {
  border: 0;
  border-top: 1px dashed #eee;
}

.footnotes {
  font-size: 0.8em;
}

footer {
  display: flex;
  /* Display the elements in reverse order to their DOM order
   * This allows nice things like the "top" link to appear on the right, even
   * when it's the only element in the footer
   */
  flex-flow: row-reverse;
  /* Space the elements evenly */
  justify-content: space-between;
  margin: 1em 0 0 0;
  padding: 0.67em 0 1em 0;
  border-top: 1px solid #eee;
  font-size: 0.8em;
}

/* @end Structure and layout */

/* @begin Typography */

h1, h2, h3 {
  /* Non-bold headers */
  font-weight: 400;
  color: var(--header-color);
}

h1 a, h2 a, h3 a {
  color: var(--header-color);
}

.masthead h1 {
  text-align: center;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #e9e9e9;
}

/* @end Typography */

img {
  /* Images expand to fit their container */
  width: 100%;
}

/* @begin Post listing and posts */

.post-excerpt, header {
  margin: 1.1em 0;
  color: #888;

}

.post-excerpt h1, header h1,
.post-excerpt h2, header h2,
.post-excerpt h3, header h3 {
  color: #888;
}

.post-excerpt h1, header h1 {
  margin: 0;
  font-size: 1.5em;
}

.post-excerpt h2, header h2 {
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
}

.post-excerpt h3, header h3 {
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
}

.tags {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: lowercase;
}

.tags li {
  padding: 0 4px;
  font-size: 0.9em;
}

.tags li:first-child {
  padding-left: 0;
}

.tags li:after {
  content: ",";
}

.tags li:last-child:after {
  content: "";
}

.pagination {
  margin: 1em 0;
  text-align: center;
  color: #888;
}

.pagination .previous, .pagination .next {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

/* @end Post listing and posts */

/* @begin Post/page style */

pre, code {
  font-family: var(--mono-stack);
  font-size: 0.8em;
}

pre {
  padding: 0.7em 1em 0.8em 1em;
  border: 1px solid #eee;
  border-radius: 2px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f4f4f6;
  overflow: auto;
}

.highlight {
  margin: 0;
  border-radius: 2px;
}

blockquote {
  margin: 0;
  padding: 0.7em 1em 0.8em 1em;
  padding: 0 1em;
  border-left: 2px solid #eee;
  font-style: italic;
}

.alert {
  padding: 0.7em 1em 0.8em 1em;
  border-radius: 2px;
  background: var(--highlight-color);
  text-align: center;
}

.alert a {
  color: #fff;
  /* TODO: was using darken-by-10% here
  text-shadow: 0 1px 0 var(--highlight-color);
}

.post ul, .post ol {
  /* Have the item marker hang outside the article */
  margin-left: 0;
  padding-left: 0;
}

/* @end Post/page style */

/* @begin Search page */

.error {
  display: none;
}

.error .too-few-parameters, .error .too-many-parameters, .error .no-results {
  display: none;
}

/* @end Search page */
