---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="404 Not Found" description="The page you requested is not known to this server." social={false} />
  </head>
  <body>
    <Header/>
    <main class="contents">
      <h1>404 Not Found</h1>
      <p>If you've followed a link expecting something to be here, you can <a href="mailto:alex@pearwin.com?subject=Page%20not%20found">contact me</a>.</a>
    </main>
  </body>
</html>
