---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="500 Internal Server Error" description="The server encountered an error while processing your request." social={false} />
  </head>
  <body>
    <Header/>
    <main class="contents">
      <h1>500 Internal Server Error</h1>
      <p>There's a problem with my server.</p>
      <p>Hopefully I'm already trying to fix it, but please <a href="mailto:alex@pearwin.com?subject=Server%20error">contact me</a> if the problem persists.</p>
    </main>
  </body>
</html>
