---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>Hi!</p>
      <p>
        I write software.
        I care about what I build, why I'm building it, and how it's built.
      </p>
      <p>
        My <a href="/blog/">blog</a> hosts some things fellow nerds might find useful. 
      </p>
      <p>
        Before becoming an engineer, I was a particle physics research scientist at
        <a href="https://home.cern">CERN</a>. As a member of the <a
          href="https://lhcb.cern.ch">LHCb collaboration</a
        > I focused on
        <a
          href="https://lhcbproject.web.cern.ch/Publications/LHCbProjectPublic/LHCb-PAPER-2015-041.html"
          >charm</a
        >
        <a
          href="https://lhcbproject.web.cern.ch/Publications/LHCbProjectPublic/LHCb-PAPER-2016-042.html"
          >production</a
        > and <a
          href="https://lhcbproject.web.cern.ch/Publications/LHCbProjectPublic/LHCb-PAPER-2017-044.html"
          >matter-anti-matter asymmetry</a
        >
        measurements as well as the experiment’s <a
          href="https://lhcbproject.web.cern.ch/Publications/LHCbProjectPublic/LHCb-DP-2019-002.html"
          > data processing systems</a
        >.
      </p>
      <p>
        Please <a href="mailto:alex@pearwin.com?subject=Hello">email me</a> with comments or questions; I enjoy talking.
        You can also contact me on <a href="https://www.linkedin.com/in/alex--pearwin/">LinkedIn</a> and browse code on <a href="https://github.com/alexpearce/">GitHub</a>.
      </p>
    </main>
  </body>
</html>
