alexpearce.me {
  root /home/deploy/alexpearce.me/current/_site
  tls webmaster@alexpearce.me
  gzip
  log /home/deploy/logs/access.alexpearce.me.log {
    rotate_keep 5
  }
  errors /home/deploy/logs/error.alexpearce.me.log {
    rotate_keep 5
    404 /home/deploy/alexpearce.me/current/_site/404.html
    500 /home/deploy/alexpearce.me/current/_site/500.html
  }
}
