---
layout: default
title: Blog
---
{% for post in paginator.posts %}
  <div class="post-excerpt">
    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <h2>Published on {{ post.date | date: "%A %-d, %B %Y" }} in <a href="/search?category={{ post.category | escape }}">{{ post.category }}</a></h2>
    {% if post.comments != false %}
    <h3 class="comment-count"><a href="{{ post.url}}#disqus_thread" data-disqus-identifier="{{ post.slug }}">No comments</a></h3>
    {% endif %}
    <ul class="tags">
      {% for tag in post.tags %}
        <li><a href="/search?tag={{ tag | escape }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
  {% else %}
    <span class="previous">&lt;</span>
  {% endif %}
  <span class="page_number ">page <span class="current">{{ paginator.page }}</span> of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
  {% else %}
    <span class="next ">&gt;</span>
  {% endif %}
</div>

<footer>
  <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></span>
</footer>
{% include comments.html %}
