---
import Callout from "./Callout.astro";
---

<Callout>
  <p>
    <strong>This post has been archived</strong>. It's pretty old and likely
    concerns topics that are avoidable by using more moderns tools and
    techniques. The original text is preserved below for posterity but it may no
    longer be relevant or correct.
  </p>
</Callout>
