---
// Include this file to add GitHub issue comment threads.
// 
// Powered by https://utteranc.es/.
---
<div id="comments">
  <script src="https://utteranc.es/client.js"
          repo="alexpearce/home"
          issue-term="og:title"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>Comments disabled as JavaScript is not available.</noscript>
</div>
