---
import { SITE_TITLE } from "../consts";
---

<div class="masthead">
  <h1 class="title">
    <a href="/">{SITE_TITLE}</a>
  </h1>
  <nav>
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
</div>
