<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  
  <title>alexpearce.me</title>
  <meta name="description" content="Blog of web developer and physicist Alex Pearce.">
  
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/solarized-dark.css">
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700|Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/alexpearce.css">
  
  <script type="text/javascript" src="/assets/js/modernizr.js"></script>
</head>
<body>
  <div class="columns">
    
    <header>
      <h1><a href="/">Alex Pearce</a></h1>
      <h2>A Blog</h2>
      <div class="deets">
        <p>Ruby developer @ <a href="http://atechmedia.com">aTech Media</a>.</p>
        <p>Physics undergraduate @ <a href="http://soton.ac.uk">University of Southampton</a>.</p>
      </div>
    </header>
  
    <div class="blog">
      {{ content }}
    </div>
    
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
  <script type="text/javascript" src="/assets/js/alexpearce.js"></script>
  <!-- TODO: Google Analytics -->
</body>
</html>