---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="/2013/06/tbrowser-shortcut">{{ page.title }}</a></h1>
    <h2 class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Published on {{ page.date | date: "%A %-d, %B %Y" }} in <a href="/search?category={{ page.category | escape }}">{{ page.category }}</a>
      </time>
    </h2>
    {% if page.comments != false %}
      <h3 class="comment-count"><a href="{{ page.url}}#disqus_thread" data-disqus-identifier="{{ page.url }}">No comments</a></h3>
    {% endif %}
    <ul class="tags">
      {% for tag in page.tags %}
        <li><a href="/search?tag={{ tag | escape }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
  <footer>
    <a class="top" href="#">top ▴</a>
  </footer>
  {% include comments.html %}
</article>
