---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Comments from "../components/Comments.astro";
import ArchivedPostBanner from "../components/ArchivedPostBanner.astro";
import LongDate from "../components/LongDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, archived, comments } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article class="contents">
        <h1>{title}</h1>
        <p class="post-publication">Published on <LongDate date={date}></LongDate>.</p>
        {archived && <ArchivedPostBanner />}
        <slot />
        <a class="top" href="#">back to top ↑</a>
        {comments && <Comments />}
      </article>
    </main>
  </body>
</html>
